@mixin ring ($taille, $color) {
    content : '';
    border-radius : 50%;
    border : (2px  + 2px * $taille) solid $color; 
    padding : (15px + 10px * $taille);
    margin : 20px;
    display : inline-block;
    box-shadow : 2 2 2 darken($color, 50);  
}

$orange-color: #de5f04;
$big-ring-color: #dec804;

body {
    font-family: 'Eagle Lake', cursive;
}

.navbar {
    background-color:$orange-color;
    >li {
        display:inline;
        list-style:none;
        & a {
            color:white;
            font-size:2em;
        }
        &:hover {
            color:yellow;
        }
    }
}

footer {
    background-color:$orange-color;
    li {
        list-style:none;
        color:white;
        font-size:1.5em;
    }
}

.part {
    margin-top:50px;
    margin-bottom:50px;
}

#main h1 {
  text-align : center;
  display : inline-block;
}

.little-ring {
  @include ring(2, $orange-color);
}

.big-ring {
  @include ring(10, $big-ring-color);
}

@for $ring from 1 through 6 {
  .row-rings>div:nth-child(#{$ring}) {
    @include ring($ring*0.5, black);
    margin-left : -10px * $ring;
    margin-right : 5px * $ring;
    margin-bottom : 10px;
    margin-top : 10px;
  }
}

